@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&display=swap');

:root {
	--main-color: #1c1d29;
	--focus: #222550;
	--brand-font: 'Oxanium';
	--system-font: 'Exo 2';
	--secondary-color: black;
	--text-color: #c9c9c9;
	--border: 0.2vw;
	--border-radius: 0.5vw;
	--text-muted: gray;
	--del-hover: rgb(125, 0, 0);
}

@media (max-width: 768px) {
	:root {
		--border: 0.3vw;
		--border-radius: 0.5vw;
	}
}

@media (max-width: 425px) {
	:root {
		--border: 0.6vw;
		--border-radius: 1vw;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--system-font);
	color: rgb(222, 222, 222);
	outline: none;
	user-select: none;
	-webkit-user-drag: none;
	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: var(--main-color);
}

main ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1vw;
	padding: 2vw 0;
}

main ul li {
	list-style: none;
}

@media (max-width: 768px) {
	main ul {
		gap: 2vw;
		padding: 4vw 0;
	}
}

@media (max-width: 425px) {
	main ul {
		gap: 4vw;
		padding: 4vw;
	}
}
