.list-item {
	display: flex;
	align-items: start;
	background-color: var(--main-color);
	width: max-content;
	width: 50vw;
	white-space: normal; /* ✅ позволяет переносу строки */
	justify-content: space-between;
	overflow: hidden;
	border-radius: var(--border-radius);
	border: var(--border) solid var(--secondary-color);
	transition: all ease 0.2s;
	filter: brightness(1.5);
}

.list-item p {
	padding: 1vw 1vw;
	font-size: 1.2vw;
}

.list-item button {
	padding: 0.5vw 0.5vw;
	border: none;
	cursor: pointer;
	background-color: var(--secondary-color);
	border-left: var(--border) solid var(--secondary-color);
	border-radius: 0 0 0 0.5vw;
	transition: all ease 0.2s;
}

.list-item button img {
	width: 1.2vw;
}

.list-item button:hover {
	background-color: var(--del-hover);
	border-left: var(--border) solid var(--del-hover);
}

.delHover {
	border: var(--border) solid var(--del-hover);
}

@media (max-width: 768px) {
	.list-item {
		width: 70vw;
	}

	.list-item p {
		font-size: 2vw;
		padding: 1.5vw;
	}

	.list-item button img {
		width: 2vw;
	}
}

@media (max-width: 425px) {
	.list-item {
		width: 100%;
	}

	.list-item p {
		font-size: 4vw;
		padding: 3vw;
	}

	.list-item button img {
		width: 4.5vw;
	}

	.list-item button {
		padding: 1vw 1vw;
	}
}
